body {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  
}
.container-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  color: #FF3333;
  font-weight: bold;
  font-size: 6rem;
  margin: auto;
  padding: 12px 0px;
  text-align: center;
}

div.container {
  display: flex;
  width: 100%;
  height: 95vh;
  justify-content: space-between;
  /*   align-items: center; */
  flex-wrap: nowrap;
}

div.container.card {
  position: relative;
  width: 800px;
  height: 526px;
  background-color: #000;
  display: flex;
  padding: 12px;
  gap: 24px;
  border-radius: 8px;
  cursor: pointer;
  margin: auto;
}

div.container.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 837px;
  height: 564px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.container.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

/* .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
} */

div.container.card p:not(.heading) {
  font-size: 14px;
}

div.container.card p:last-child {
  /* color: #e81cff; */
  /* font-weight: 600; */
  font-family: sans-serif;
}

div.container.card:hover::after {
  filter: blur(30px);
}

div.container.card:hover::before {
  /* transform: rotate(-90deg) scaleX(1.34) scaleY(0.77); */
}

/* ------------------------------- right panel ----------------------- */
.content-right {
  width: 70%;
}
.content-left {
  width: 30%;
}

/* audio container */
.audio-container {
  width: 100%;
  margin: auto;
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  background: white;
  width: 100%;
}

/* audio input ranger */
.slider-range-container {
  /*   padding: 0px 8px; */
  /*   max-width: 290px; */
}

.slider-range-show-value {
  padding: 6px 0px;
  color: #00ccff;
  font-weight: bold;
}

.slider-range-input-wrap {
  /*   padding: 0px 9px; */
}

.slider-range-input-wrap .ui-slider .ui-slider-handle {
  background: #00ccff !important;
  color: #00ccff !important;
  border: none !important;
  width: 2px;
  margin-left: 0px;
  top: -0.4em;
  height: 1.6em;
  transition: all ease 0.5s;
  outline: none !important;
}

.slider-range-input-wrap .ui-widget-header {
  background: #cfc9c9;
}

.slider-range-input-wrap .ui-slider .ui-slider-handle:hover,
.slider-range-input-wrap .ui-slider .ui-slider-handle.active {
  transform: scale(10, 1);
  border-radius: 16px;
}

/* content accodition */
.accordion-container {
  margin: auto;
  margin-top: 24px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* -------------------------- content left ----------------- */

.content-left {
  padding-top: 55px;
  padding: 0px 6px;
}

#break-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 340px;
  color: white;
  padding: 0px;
}

/* title */
.content-left h2 {
  color: white;
}

/* input break */
.content-left .input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12;

}

.content-left .input-group > div {
  display: flex;
}

.content-left .input {
  min-height: 50px;
  width: 50%;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  background-color: transparent;
  margin-bottom: 12px;
}

.content-left .button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  /* border-radius: 0 6px 6px 0; */
  border-radius: 6px;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  width: 100%;
}

.content-left .button--submit:hover {
  background-color: #5e5dcd;
}

.content-left .input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

/* break case */
.break-case {
  background: #262626;
  border-radius: 10px;
  border: 1px solid #3F3F40;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

/* btn delete break case */

.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}
.bin-bottom {
  width: 10px;
}
.bin-top {
  width: 12px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}


/* scroll bar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */

  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 6px;
    border: 3px solid #000;
  }